In [1]:
read_me = '''

Julian Smoller
2019.12

The purpose of this notebook is to complete the problems 
presented in the "Advent of Code" challenge for 2019. 

https://adventofcode.com/

'''

# Setup

In [1]:
import pandas as pd
import numpy as np

# Problem 1a

The Elves quickly load you into a spacecraft and prepare to launch.

At the first Go / No Go poll, every Elf is Go until the Fuel Counter-Upper. They haven't determined the amount of fuel required yet.

Fuel required to launch a given module is based on its mass. Specifically, to find the fuel required for a module, take its mass, divide by three, round down, and subtract 2.

For example:

For a mass of 12, divide by 3 and round down to get 4, then subtract 2 to get 2.
For a mass of 14, dividing by 3 and rounding down still yields 4, so the fuel required is also 2.
For a mass of 1969, the fuel required is 654.
For a mass of 100756, the fuel required is 33583.
The Fuel Counter-Upper needs to know the total fuel requirement. To find it, individually calculate the fuel needed for the mass of each module (your puzzle input), then add together all the fuel values.

What is the sum of the fuel requirements for all of the modules on your spacecraft?

In [2]:
# Load input data
path = 'advent_of_code_2019_data/problem_01_input.txt'
txt = open(path,'r').read()
lines = txt.split('\n')
df0 = pd.DataFrame({'input_mass':[int(x) for x in lines]})
df0.head(3)

   input_mass
0      138486
1      133535
2       66101

In [3]:
# Define key function and test
f = lambda x: int(x/3)-2
tests = [(12,2), (14,2), (1969, 654), (100756,33583)]
for (x,y) in tests:
    assert f(x)==y, f'uh oh! f({x})!={y}'

In [4]:
# Apply function to data
df1a = df0.copy()
df1a['fuel_required'] = df1a.input_mass.map(f)
df1a.head(3)

   input_mass  fuel_required
0      138486          46160
1      133535          44509
2       66101          22031

In [5]:
# Calculate answer
Y = df1a.fuel_required.sum()
print(Y)
# >> 3515171

3515171

# Problem 1b

During the second Go / No Go poll, the Elf in charge of the Rocket Equation Double-Checker stops the launch sequence. Apparently, you forgot to include additional fuel for the fuel you just added.

Fuel itself requires fuel just like a module - take its mass, divide by three, round down, and subtract 2. However, that fuel also requires fuel, and that fuel requires fuel, and so on. Any mass that would require negative fuel should instead be treated as if it requires zero fuel; the remaining mass, if any, is instead handled by wishing really hard, which has no mass and is outside the scope of this calculation.

So, for each module mass, calculate its fuel and add it to the total. Then, treat the fuel amount you just calculated as the input mass and repeat the process, continuing until a fuel requirement is zero or negative. For example:

A module of mass 14 requires 2 fuel. This fuel requires no further fuel (2 divided by 3 and rounded down is 0, which would call for a negative fuel), so the total fuel required is still just 2.
At first, a module of mass 1969 requires 654 fuel. Then, this fuel requires 216 more fuel (654 / 3 - 2). 216 then requires 70 more fuel, which requires 21 fuel, which requires 5 fuel, which requires no further fuel. So, the total fuel required for a module of mass 1969 is 654 + 216 + 70 + 21 + 5 = 966.

The fuel required by a module of mass 100756 and its fuel is: 33583 + 11192 + 3728 + 1240 + 411 + 135 + 43 + 12 + 2 = 50346.

What is the sum of the fuel requirements for all of the modules on your spacecraft when also taking into account the mass of the added fuel? (Calculate the fuel requirements for each module separately, then add them all up at the end.)

In [6]:
# Copy input data
df1b = df1a.copy()
df1b.head(3)

   input_mass  fuel_required
0      138486          46160
1      133535          44509
2       66101          22031

In [7]:
# Define key function
def f1(x):
    return int(x/3)-2

def f2(x):
    y = []
    while x>=3:
        y.append(x)
        x = f1(x) # divide by 3, round down, subtract 2
        if 0<x<3:
            y.append(x)
    return y

def f3(x):
    return sum(x[1:])

# Define composite function
def f(x):
    y = f3(f2(x))
    return y

tests = [(14,2), (1969, 966), (100756,50346)]
for (x,y) in tests:
    fx = f(x)
    print(f'f({x}) = {fx} == {y}')
    assert fx==y, f'uh oh! f({x}) = {fx} != {y}'

f(14) = 2 == 2
f(1969) = 966 == 966
f(100756) = 50346 == 50346

In [8]:
df1b['total_fuel_required'] = df1b.input_mass.map(f)
df1b.head(3)

   input_mass  fuel_required  total_fuel_required
0      138486          46160                69210
1      133535          44509                66734
2       66101          22031                33020

In [9]:
# Calculate answer
Y = df1b.total_fuel_required.sum()
print(Y)
# >> 5269882

5269882

# Problem 2a

An Intcode program is a list of integers separated by commas (like 1,0,0,3,99). To run one, start by looking at the first integer (called position 0). Here, you will find an opcode - either 1, 2, or 99. The opcode indicates what to do; for example, 99 means that the program is finished and should immediately halt. Encountering an unknown opcode means something went wrong.

Opcode 1 adds together numbers read from two positions and stores the result in a third position. The three integers immediately after the opcode tell you these three positions - the first two indicate the positions from which you should read the input values, and the third indicates the position at which the output should be stored.

For example, if your Intcode computer encounters 1,10,20,30, it should read the values at positions 10 and 20, add those values, and then overwrite the value at position 30 with their sum.

Opcode 2 works exactly like opcode 1, except it multiplies the two inputs instead of adding them. Again, the three integers after the opcode indicate where the inputs and outputs are, not their values.

Once you're done processing an opcode, move to the next one by stepping forward 4 positions.

For example, suppose you have the following program:

1,9,10,3,2,3,11,0,99,30,40,50
For the purposes of illustration, here is the same program split into multiple lines:

1,9,10,3,
2,3,11,0,
99,
30,40,50
The first four integers, 1,9,10,3, are at positions 0, 1, 2, and 3. Together, they represent the first opcode (1, addition), the positions of the two inputs (9 and 10), and the position of the output (3). To handle this opcode, you first need to get the values at the input positions: position 9 contains 30, and position 10 contains 40. Add these numbers together to get 70. Then, store this value at the output position; here, the output position (3) is at position 3, so it overwrites itself. Afterward, the program looks like this:

1,9,10,70,
2,3,11,0,
99,
30,40,50
Step forward 4 positions to reach the next opcode, 2. This opcode works just like the previous, but it multiplies instead of adding. The inputs are at positions 3 and 11; these positions contain 70 and 50 respectively. Multiplying these produces 3500; this is stored at position 0:

3500,9,10,70,
2,3,11,0,
99,
30,40,50
Stepping forward 4 more positions arrives at opcode 99, halting the program.

Here are the initial and final states of a few more small programs:

1,0,0,0,99 becomes 2,0,0,0,99 (1 + 1 = 2).
2,3,0,3,99 becomes 2,3,0,6,99 (3 * 2 = 6).
2,4,4,5,99,0 becomes 2,4,4,5,99,9801 (99 * 99 = 9801).
1,1,1,4,99,5,6,0,99 becomes 30,1,1,4,2,5,6,0,99.
Once you have a working computer, the first step is to restore the gravity assist program (your puzzle input) to the "1202 program alarm" state it had just before the last computer caught fire. To do this, before running the program, replace position 1 with the value 12 and replace position 2 with the value 2. What value is left at position 0 after the program halts?

In [78]:
# Define key function
def f(X):
    Y = X.copy()
    i = 0
    while i<len(Y):
        if Y[i]==99:
            break
        elif Y[i]==1:
            i1, i2, i3 = Y[i+1], Y[i+2], Y[i+3]
            Y[i3] =Y[i1] + Y[i2]
        elif Y[i]==2:
            i1, i2, i3 = Y[i+1], Y[i+2], Y[i+3]
            Y[i3] = Y[i1] * Y[i2]
        i+=4
    return Y

In [79]:
# Test
tests = [
    ([1,0,0,0,99], [2,0,0,0,99])
    ,([2,3,0,3,99], [2,3,0,6,99])
    ,([2,4,4,5,99,0], [2,4,4,5,99,9801])
    ,([1,1,1,4,99,5,6,0,99], [30,1,1,4,2,5,6,0,99])
]
for (x,y) in tests:
    fx = f(x)
    print(x, fx, y)
    print(str(fx)==str(y))

[1, 0, 0, 0, 99] [2, 0, 0, 0, 99] [2, 0, 0, 0, 99]
True
[2, 3, 0, 3, 99] [2, 3, 0, 6, 99] [2, 3, 0, 6, 99]
True
[2, 4, 4, 5, 99, 0] [2, 4, 4, 5, 99, 9801] [2, 4, 4, 5, 99, 9801]
True
[1, 1, 1, 4, 99, 5, 6, 0, 99] [30, 1, 1, 4, 2, 5, 6, 0, 99] [30, 1, 1, 4, 2, 5, 6, 0, 99]
True

In [81]:
# Load input
X_input_text = '''1,0,0,3,1,1,2,3,1,3,4,3,1,5,0,3,2,1,10,19,1,6,19,23,2,23,6,
27,2,6,27,31,2,13,31,35,1,10,35,39,2,39,13,43,1,43,13,47,1,6,47,51,1,10,51,55,2,
55,6,59,1,5,59,63,2,9,63,67,1,6,67,71,2,9,71,75,1,6,75,79,2,79,13,83,1,83,10,87,
1,13,87,91,1,91,10,95,2,9,95,99,1,5,99,103,2,10,103,107,1,107,2,111,1,111,5,0,99,2,14,0,0
'''.replace('\n','')
X_input = [int(x) for x in X_input_text.split(',')]

# Pre-process input according to instructions
# "... replace position 1 with the value 12 and replace position 2 with the value 2."
X = X_input.copy()
X[1] = 12
X[2] = 2
print(X)

[1, 12, 2, 3, 1, 1, 2, 3, 1, 3, 4, 3, 1, 5, 0, 3, 2, 1, 10, 19, 1, 6, 19, 23, 2, 23, 6, 27, 2, 6, 27, 31, 2, 13, 31, 35, 1, 10, 35, 39, 2, 39, 13, 43, 1, 43, 13, 47, 1, 6, 47, 51, 1, 10, 51, 55, 2, 55, 6, 59, 1, 5, 59, 63, 2, 9, 63, 67, 1, 6, 67, 71, 2, 9, 71, 75, 1, 6, 75, 79, 2, 79, 13, 83, 1, 83, 10, 87, 1, 13, 87, 91, 1, 91, 10, 95, 2, 9, 95, 99, 1, 5, 99, 103, 2, 10, 103, 107, 1, 107, 2, 111, 1, 111, 5, 0, 99, 2, 14, 0, 0]

In [82]:
# Process the input
Y = f(X)
print(Y)

[5434663, 12, 2, 2, 1, 1, 2, 3, 1, 3, 4, 3, 1, 5, 0, 3, 2, 1, 10, 48, 1, 6, 19, 50, 2, 23, 6, 100, 2, 6, 27, 200, 2, 13, 31, 1000, 1, 10, 35, 1004, 2, 39, 13, 5020, 1, 43, 13, 5025, 1, 6, 47, 5027, 1, 10, 51, 5031, 2, 55, 6, 10062, 1, 5, 59, 10063, 2, 9, 63, 30189, 1, 6, 67, 30191, 2, 9, 71, 90573, 1, 6, 75, 90575, 2, 79, 13, 452875, 1, 83, 10, 452879, 1, 13, 87, 452884, 1, 91, 10, 452888, 2, 9, 95, 1358664, 1, 5, 99, 1358665, 2, 10, 103, 5434660, 1, 107, 2, 5434662, 1, 111, 5, 0, 99, 2, 14, 0, 0]

In [83]:
# Get the specific output requested:
# "What value is left at position 0 after the program halts?"
y = Y[0]
print(y)
# >> 5434663

5434663

# Problem 2b

Intcode programs are given as a list of integers; these values are used as the initial state for the computer's memory. When you run an Intcode program, make sure to start by initializing memory to the program's values. A position in memory is called an address (for example, the first value in memory is at "address 0").

Opcodes (like 1, 2, or 99) mark the beginning of an instruction. The values used immediately after an opcode, if any, are called the instruction's parameters. For example, in the instruction 1,2,3,4, 1 is the opcode; 2, 3, and 4 are the parameters. The instruction 99 contains only an opcode and has no parameters.

The address of the current instruction is called the instruction pointer; it starts at 0. After an instruction finishes, the instruction pointer increases by the number of values in the instruction; until you add more instructions to the computer, this is always 4 (1 opcode + 3 parameters) for the add and multiply instructions. (The halt instruction would increase the instruction pointer by 1, but it halts the program instead.)

"With terminology out of the way, we're ready to proceed. To complete the gravity assist, you need to determine what pair of inputs produces the output 19690720."

The inputs should still be provided to the program by replacing the values at addresses 1 and 2, just like before. In this program, the value placed in address 1 is called the noun, and the value placed in address 2 is called the verb. Each of the two input values will be between 0 and 99, inclusive.

Once the program has halted, its output is available at address 0, also just like before. Each time you try a pair of inputs, make sure you first reset the computer's memory to the values in the program (your puzzle input) - in other words, don't reuse memory from a previous attempt.

Find the input noun and verb that cause the program to produce the output 19690720. What is 100 * noun + verb? (For example, if noun=12 and verb=2, the answer would be 1202.)

In [89]:
# Iterate over possible inputs and log outputs
df = []
for x1 in range(0,100):
    for x2 in range(0,100):
        X = X_input.copy()
        X[1] = x1
        X[2] = x2
        Y = f(X)
        y = Y[0]
        df.append({'x1':x1, 'x2':x2, 'Y':Y, 'y':y})
    
df = pd.DataFrame(df)

# Find the desired output
dfy = df[df.y==19690720]
print(len(dfy))

1

In [90]:
dfy

                                                      Y  x1  x2         y
4559  [19690720, 45, 59, 2, 1, 1, 2, 3, 1, 3, 4, 3, ...  45  59  19690720

In [91]:
# Get the specific output requested:
# "Find the input noun and verb that cause the program to produce the output 19690720. 
# What is 100 * noun + verb? (For example, if noun=12 and verb=2, the answer would be 1202.)"
row = dfy.iloc[0]
noun = row['x1']
verb = row['x2']
y = noun*100 + verb
print(y)
# >> 4559

4559

# Problem 3a

Opening the front panel reveals a jumble of wires. Specifically, two wires are connected to a central port and extend outward on a grid. You trace the path each wire takes as it leaves the central port, one wire per line of text (your puzzle input).

The wires twist and turn, but the two wires occasionally cross paths. To fix the circuit, you need to find the intersection point closest to the central port. Because the wires are on a grid, use the Manhattan distance for this measurement. While the wires do technically cross right at the central port where they both start, this point does not count, nor does a wire count as crossing with itself.

For example, if the first wire's path is R8,U5,L5,D3, then starting from the central port (o), it goes right 8, up 5, left 5, and finally down 3:

...........
...........
...........
....+----+.
....|....|.
....|....|.
....|....|.
.........|.
.o-------+.
...........
Then, if the second wire's path is U7,R6,D4,L4, it goes up 7, right 6, down 4, and left 4:

...........
.+-----+...
.|.....|...
.|..+--X-+.
.|..|..|.|.
.|.-X--+.|.
.|..|....|.
.|.......|.
.o-------+.
...........
These wires cross at two locations (marked X), but the lower-left one is closer to the central port: its distance is 3 + 3 = 6.

Here are a few more examples:

R75,D30,R83,U83,L12,D49,R71,U7,L72
U62,R66,U55,R34,D71,R55,D58,R83 = distance 159
R98,U47,R26,D63,R33,U87,L62,D20,R33,U53,R51
U98,R91,D20,R16,D67,R40,U7,R15,U6,R7 = distance 135
What is the Manhattan distance from the central port to the closest intersection?

In [145]:
# Define key functions

def f1(X):
    '''Parse string into a series of directional steps'''
    return [(x[0],int(x[1:])) for x in X.split(',')]

def f2(steps):
    '''Translate a series of directional steps into a path that includes the
    vector coordinates of all locations visited along the path, excluding the origin'''
    x = (0,0) # start at the origin
    path = [] # record each location (excluding the origin)
    unit_vectors = {'R':(1,0), 'L':(-1,0), 'U':(0,1), 'D':(0,-1)}
    for (direction, distance) in steps:
        v = unit_vectors[direction]
        for _ in range(distance):
            x = (x[0]+v[0], x[1]+v[1])
            path.append(x)
    return path
            
def f3(XA, XB):
    '''Given two sets of vectors, return a dataframe with the common vectors 
    (that are in both sets) and the manhattan distance to the origin for each'''
    XAB = set(XA).intersection(set(XB))
    df = pd.DataFrame({'vector':list(XAB)})
    df['manhattan_distance'] = df['vector'].map(lambda x: sum([abs(i) for i in x]))
    return df

def f(X):
    '''Given a list of 2 strings, where each string represents a path in a 2D grid, 
    find the intersection point with the minimum manhattan distance to the origin,
    and return this distance'''
    XA = f2(f1(X[0]))
    XB = f2(f1(X[1]))
    df = f3(XA, XB)
    y = df.manhattan_distance.min()
    return y

f(['R8,U5,L5,D3','U7,R6,D4,L4'])

6

In [139]:
# Define test cases
tests = [
    (['R8,U5,L5,D3','U7,R6,D4,L4'], 6)
    ,(['R75,D30,R83,U83,L12,D49,R71,U7,L72','U62,R66,U55,R34,D71,R55,D58,R8'], 159)
    ,(['R98,U47,R26,D63,R33,U87,L62,D20,R33,U53,R51','U98,R91,D20,R16,D67,R40,U7,R15,U6,R7'], 135)
]
for (x,y) in tests:
    fx = f(x)
    print(f'{fx} == {y}')
    assert fx==y, f'uh oh! {fx} != {y}'

6 == 6
159 == 159
135 == 135

In [140]:
# pathA = f2(f1('R75,D30,R83,U83,L12,D49,R71,U7,L72'))
# pathB = f2(f1('U62,R66,U55,R34,D71,R55,D58,R8'))

In [141]:
# f3(pathA, pathB)

In [142]:
# Load input data
path = 'projects/advent_of_code_2019/problem_03_input.txt'
txt = open(path,'r').read()
lines = txt.split('\n')

In [144]:
f(lines)

870

# Problem 3b

It turns out that this circuit is very timing-sensitive; you actually need to minimize the signal delay.

To do this, calculate the number of steps each wire takes to reach each intersection; choose the intersection where the sum of both wires' steps is lowest. If a wire visits a position on the grid multiple times, use the steps value from the first time it visits that position when calculating the total value of a specific intersection.

The number of steps a wire takes is the total number of grid squares the wire has entered to get to that location, including the intersection being considered. Again consider the example from above:

...........
.+-----+...
.|.....|...
.|..+--X-+.
.|..|..|.|.
.|.-X--+.|.
.|..|....|.
.|.......|.
.o-------+.
...........
In the above example, the intersection closest to the central port is reached after 8+5+5+2 = 20 steps by the first wire and 7+6+4+3 = 20 steps by the second wire for a total of 20+20 = 40 steps.

However, the top-right intersection is better: the first wire takes only 8+5+2 = 15 and the second wire takes only 7+6+2 = 15, a total of 15+15 = 30 steps.

Here are the best steps for the extra examples from above:

R75,D30,R83,U83,L12,D49,R71,U7,L72
U62,R66,U55,R34,D71,R55,D58,R83 = 610 steps
R98,U47,R26,D63,R33,U87,L62,D20,R33,U53,R51
U98,R91,D20,R16,D67,R40,U7,R15,U6,R7 = 410 steps
What is the fewest combined steps the wires must take to reach an intersection?

In [146]:
def f(X):
    XA = f2(f1(X[0]))
    XB = f2(f1(X[1]))
    df = f3(XA, XB)
    df['steps_a'] = df.vector.map(lambda v: min([i+1 for i,x in enumerate(XA) if x==v]))
    df['steps_b'] = df.vector.map(lambda v: min([i+1 for i,x in enumerate(XB) if x==v]))
    df['steps_ab'] = df.apply(lambda x: x.steps_a + x.steps_b, axis=1)
    y = df.steps_ab.min()
    return y

In [155]:
# Define test cases
tests = [
    (['R75,D30,R83,U83,L12,D49,R71,U7,L72','U62,R66,U55,R34,D71,R55,D58,R8'], 610)
    ,(['R98,U47,R26,D63,R33,U87,L62,D20,R33,U53,R51','U98,R91,D20,R16,D67,R40,U7,R15,U6,R7'], 410)
]
for (x,y) in tests:
    fx = f(x)
    print(f'{fx} == {y}')
    assert fx==y, f'uh oh! {fx} != {y}'

In [156]:
df

       vector  manhattan_distance  steps_a  steps_b  steps_ab
0  (158, -12)                 170      206      404       610
1   (146, 46)                 192      290      334       624
2    (155, 4)                 159      341      385       726
3   (155, 11)                 166      472      378       850